body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  min-height: 100vh;
  font-family: "NotoSansTC";
  box-sizing: border-box;
  color: #1f100b;  
  letter-spacing: 3px;
  box-sizing: border-box;
  position: relative;
  background-color: #faf7f7;
  color: #1f100b;
  letter-spacing: 3px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

li {
  list-style-type: none;
}
ul {
  padding: 0;
}

code {
  font-family: "ABeeZee", monospace, "Montserrat";
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ABeeZee";
  src: local("ABeeZee"), url(./src/fonts/ABeeZee-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./src/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "NotoSansTC";
  src: local("NotoSansTC"), url(./src/fonts/NotoSansTC-VariableFont_wght.ttf);
}

.App {
  text-align: center;
  padding: 50px;
}

.zoomed {
  transform: scale(3);
}